<%- include('../include/head.ejs') %>
<link rel="stylesheet" href='/css/chat.css'>
</head>
<%- include('../include/middle.ejs') %>

<h2 class="name"><%=name%></h2>
<% for(let pr of atob){%> 
    <% if(dictionary[pr][3]==1){ %>
        <div class="container">
            <h4 class='whatsapp-name'>You</h4>
            <p class="msg1"> <%=dictionary[pr][0] %>  </p>
            <span class="time-right"><%=dictionary[pr][1] %>   </span><br>
            <!-- <span class="time-right">  <%=dictionary[pr][2] %> </span> -->
          </div>
        
    <% }else{ %>
        <div class="container darker">
            <h4 class='whatsapp-name'><%=name%></h4>
            <p class="msg2"> <%=dictionary[pr][0] %>  </p>
            <span class="time-right"><%=dictionary[pr][1] %>   </span><br>
            <!-- <span class="time-left">  <%=dictionary[pr][2] %> </span> -->
          </div>
         
    <% } %>
<% }%>
<div class="form-style-5">
    <form action='/display' method="POST">

            <input type="text" class='write' name="msg"  placeholder="type">
            <input type="hidden" name='accountName'  value='<%=name%>'>
            <button type="submit" class='send' value="Send">Send</button>
    </form>
</div>
    
