<%- include('../include/head.ejs') %>
<link rel="stylesheet" href='/css/chat.css'>
</head>
<%- include('../include/middle.ejs') %>


<div class="form-style-5">
    <form action='/create' method="POST">
        <h2 class="name">Group Info</h2>

        <% for(let member of list){ %>
            <input type="checkbox" name="members" value="<%= member %>">
            <label for="members"> <%= member %></label><br>
        <% } %>

        <input type="hidden" name='groupName' value='<%=groupName%>'>

        <button type="submit" class='send' value="Apply">Add</button>
    </form>
</div>


</body>