<%- include('../include/head.ejs') %>
</head>
<%- include('../include/middle.ejs') %>


<legend><%=groupName %></legend>
<% for(let pr of array){%> 
    <% if(pr[4]==1){ %>
        <div>        
            <p style="margin-left: 10%;"> <%=pr[1] %> <%=pr[2] %> <%=pr[3] %></p>
        </div>
    <% }else{ %>
        <div>
            <h2><%=pr[0] %>:</h2>
            <p style="margin-right: 10%;"><%=pr[1] %> <%=pr[2] %> <%=pr[3] %></p> 
        </div>
    <% } %>
<% }%>
<div class="form-style-5">
    <form action='/groupdisplay/<%= idnum %>' method="POST">
            <fieldset>
            
            <input type="text" name="msg" placeholder="type">

            </fieldset>
    
            <button type="submit" value="Send">Send</button>
    </form>
</div>
    