<%- include('../include/head.ejs') %>
<link rel="stylesheet" href='/css/chat.css'>
</head>
<%- include('../include/middle.ejs') %>

<h2 class="name"><%=groupName %></h2>
<% for(let pr of array){%> 
    <% if(pr[4]==1){ %>
        <div class="container darker">
            <h4 class='whatsapp-name'><%=pr[0]%></h4>
            <p class="msg2"> <%=pr[1]%>  </p>
            <span class="time-right"><%=pr[2] %>   </span><br>
        </div>
        
        <!-- <div>        
            <p style="margin-left: 10%;"> <%=pr[1] %> <%=pr[2] %> <%=pr[3] %></p>
        </div> -->
    <% }else{ %>
        <div class="container">
            <h4 class='whatsapp-name'>You</h4>
            <p class="msg1"> <%=pr[1] %>  </p>
            <span class="time-right"><%=pr[2] %>   </span><br>
        </div>

        <!-- <div>
            <h2><%=pr[0] %>:</h2>
            <p style="margin-right: 10%;"><%=pr[1] %> <%=pr[2] %> <%=pr[3] %></p> 
        </div> -->
    <% } %>
<% }%>
<div class="form-style-5">
    <form action='/groupdisplay/<%= idnum %>' method="POST">
            <input type="text" class='write' name="msg"  placeholder="type">
            <button type="submit" class='send' value="Send">Send</button>
    </form>
</div>
    

<!-- <div class="form-style-5">
    <form action='/groupdisplay/<%= idnum %>' method="POST">

            <input type="text" name="msg" placeholder="type">
    
            <button type="submit" value="Send">Send</button>
    </form>
</div> -->