<%- include('../include/head.ejs') %>
</head>
<%- include('../include/middle.ejs') %>



<fieldset>
<legend>All groups</legend>
<% for(let array of list){ %>
    <div style="display:inline-table;color:red;">
        <a href='/groupdisplay/<%=array[3]%>'><p><%= array[0] %></p></a>
        <% for(let mem of array[1]){ %>
            <h10><%= mem.accountName %></h10>
        <% } %>
        <p><%= array[2][0].accountName  %></p>
    </div>


<% } %>
</fieldset>


</div>
    
</body>