<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="keywords" content="chat, user, comments, wide" />
        <link rel="stylesheet" href='/css/main.css'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title><%=tit%></title>
        <link rel="stylesheet" href="css/comments/styles.css">
        <link rel="stylesheet" href='/css/popup.css'>
	</head>
<%- include('../include/middle.ejs') %>

<h1 class='heading1'>Problem-statement by:</h1>
<p class='heading2'>@<%= q.opener %></p>
<h1 class="heading1">Query:</h1>
<p class='heading2'><%= q.text %></p>

<li class="write-new">
    <form action='/newcomment/<%= q._id %>' method="POST">
        <textarea type='text' name='text' placeholder='Write an answer' rows="4" cols="50"></textarea><br>
        <button type="submit" class='send' value="Apply">Answer</button>
    </form>    
</li>

<div class="chat-popup" id="myForm">
    <form id='form1' class="form-container" method="POST">
        <label for="msg"><b>Reply</b></label>
        <textarea type="text" placeholder="You can use this space for your reply...." name="text" required></textarea>
        <button type="submit" class="btn" value="Apply">Send</button>
        <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
    </form>
</div>

<ul class="comment-section">
    <% for(let pr of reply){ %>
        <li class="comment user-comment">
            <div class="info">
                <a href="#">@<%= pr.user %>:</a>
                <span><%= pr.time %></span>
                <span><%= pr.date %></span>
            </div>
            <p><%= pr.comment %></p>
            <button class="open-button1"  onclick="openForm('/userreply/<%= pr._id %>/<%= pr.user %>')">Reply</button>
        </li>

        <% for(let ir of pr.array){ %>
            <li class="comment author-comment">
                <div class="info">
                    <a href="#">:@<%= ir.user1 %></a>
                    <span><%= ir.time1 %></span>
                    <span><%= ir.date1 %></span>
                </div> 
                <p><%= ir.comment1 %></p>
                <button class="open-button1" onclick="openForm('/userreply/<%= pr._id %>/<%= ir.user1 %>')">Reply</button>
            </li>
        <% } %>
    <% } %>
</ul>



<script>
    function openForm(link1) {
      document.getElementById("myForm").style.display = "block";
      document.getElementById("form1").action = link1; 
    }
    
    function closeForm() {
      document.getElementById("myForm").style.display = "none";
    }
</script>



</body>
</html> 