<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="keywords" content="chat, user, comments, wide" />
        <link rel="stylesheet" href='/css/main.css'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title><%=tit%></title>
        <link rel="stylesheet" href="css/comments/styles.css">
        <link rel="stylesheet" href='/css/popup.css'>
	</head>

<%- include('../include/middle.ejs') %>

Problem-statement by:<br>
<p><%= q.opener %></p>
Query:<br>
<p><%= q.text %></p>
<form action='/newcomment/<%= q._id %>' method="POST">
    <textarea type='text' name='text' placeholder='Write an answer' rows="4" cols="50"></textarea><br>
    <button type="submit" class='send' value="Apply">Answer</button>
</form>
<!-- <div class="form-style-5"> -->
<ul class="comment-section">
    
    <% for(let pr of reply){ %>
        <li class="comment user-comment">

            <div class="info">
                <a href="#"><%= pr.user %></a>
                <span><%= pr.time %></span>
                <span><%= pr.date %></span>
            </div>
            <!-- <a class="avatar" href="#">
                <img src="images/avatar_user_1.jpg" width="35" alt="Profile Avatar" title="Anie Silverston" />
            </a> -->

            <p><%= pr.comment %></p>
            <!-- <div style="position:relative; width:100%;height:30%;">
                <p style="position:relative;left:10%;"><%= pr.user %></p>
                <p style="position:relative;left:20%;"><%= pr.comment %></p>
                <p style="position:relative;left:30%;"><%= pr.time %></p>
                <p style="position:relative;left:40%;"><%= pr.date %></p>
                <p style="position:relative;left:50%;"><%= pr.upvote %></p> -->

            <button class="open-button" onclick="openForm()">Reply</button>
            <div class="chat-popup" id="myForm">
                <form action="/userreply/<%= pr._id %>" class="form-container" method="POST">
                    <label for="msg"><b>Reply</b></label>
                    <textarea type="text" placeholder="You can use this space for your reply...." name="text" required></textarea>
                    <button type="submit" class="btn" value="Apply">Send</button>
                    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
                </form>
            </div>

        </li>

        

        <% for(let ir of pr.array){ %>
            <li class="comment author-comment">
                <div class="info">
                    <a href="#"><%= ir.user1 %></a>
                    <span><%= ir.time1 %></span>
                    <span><%= ir.date1 %></span>
                </div>

                <!-- <a class="avatar" href="#">
                    <img src="images/avatar_author.jpg" width="35" alt="Profile Avatar" title="Jack Smith" />
                </a> -->

                <p><%= ir.comment1 %></p>
    
                <!-- <p><%= ir.user1 %></p>
                <p><%= ir.comment1 %></p>
                <p><%= ir.time1 %></p>
                <p><%= pr.date1 %></p> -->
    
                <button class="open-button" onclick="openForm()">Reply</button>
                <div class="chat-popup" id="myForm">
                    <form action="/userreply/<%= ir._id %>" class="form-container" method="POST">
                        <label for="msg"><b>Reply</b></label>
                        <textarea type="text" placeholder="You can use this space for your reply...." name="text" required></textarea>
                        <button type="submit" class="btn">Send</button>
                        <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
                    </form>
                </div>

            </li>

        <% } %>

        <!-- </div> -->
    <% } %>
</ul>
<!-- </div> -->



<script>
    function openForm() {
      document.getElementById("myForm").style.display = "block";
    }
    
    function closeForm() {
      document.getElementById("myForm").style.display = "none";
    }
</script>



</body>
</html> 