<%- include('../include/head.ejs') %>
</head>

<%- include('../include/middle.ejs') %>

<div class="form-style-5">
    <% if(q.length >0){ %>
        <h1 class="heading1">Click any of the query below to answer:</h2>
        <% for(let pr of q){ %>
            <div style='background-color: black;' onclick="location.href='/divclick/<%=pr._id %>';"><br>
                <p class='heading1'>Problem-statement by:</p>
                <p class='heading2'>@<%= pr.opener %></p>
                <h1 class='heading1'>Query:</h1>
                <p class='heading2' ><%= pr.text %></p>
                
            </div>
        <% } %>
    <% }else{ %>
        <h1 class='heading1'>No query related to such subject that you can answer.</h1>
        <p class='heading2'>Feel free to search other queries or post your own.</p>
    <% } %>


</div>

</body>
</html> 