<%- include('../include/shoppinghead.ejs') %>
<link rel="stylesheet" href="/css/product.css">
</head>
<%- include('../include/shoppingmiddle.ejs') %>
<h1><%=obj.title%></h1>
<div>
    <img src='<%=obj.path %>' alt='notfindimage' width='250px' height='250px'>
    
</div>
<h1><%=obj.price%></h1>
<p><%=obj.description%></p>
<form method='POST' action='/addtocart'>
    <button type='submit'>add to cart</button>
    <input type='hidden' name='detailid' value='<%= obj._id%>'>
</form>

</body>
</html>